# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# General
.DS_Store
*.log
*.bak
*.tmp

# Python build / cache
__pycache__/
*.py[cod]

# IPython
.ipynb_checkpoints/

# GPG & timestamp artifacts
*.ots
*.asc
